img
  max-width: 100%
  max-height: 100%
  height: auto

.image-wrapper
  &.image-wrapper-centered
    @include flexCenter
  &.image-wrapper-horizontal-right
    align-items: flex-start
  &.image-wrapper-horizontal-right
    align-items: flex-end

.image-ar-16-9, .image-ar-2-3, .image-ar-13-9
  .image-wrapper
    position: relative
    img
      position: absolute
      width: 100%
      height: 100%
      top: 0
      object-fit: cover

.image-ar-16-9
  .image-wrapper
    padding-top: 56.25%

.image-ar-13-9
  .image-wrapper
    padding-top: 71%

.image-ar-2-3
  .image-wrapper
    padding-top: 150%
