.embed-container
    position: relative
    padding-bottom: 56.25%
    height: 0
    overflow: hidden
    max-width: 100%
    iframe, object, embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
.ytvideo
    text-align: center
    &_content-wrapper
        margin-bottom: 2rem
        display: flex
        flex-direction: column
        align-items: center
        .content, .headline
            max-width: 650px
            width: 100%