@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

@mixin boxShadow($version: 1)
  @if $version == 1
    box-shadow: 0px 0px .5rem 0px rgba(0,0,0,0.75)
  @if $version == 2
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.18)
