<template>
  <BasePageWrapper>

    <section class="about container">
      <h2>O mnie</h2>
      <div class="academy row">
        <div class="academy_author col-6 col-md-3">
          <img class="academy_author_image image_frame" src="@/assets/img/kasia.jpg" alt="">
          <blockquote>Pasjonatka zawodu – żyjąca w myśl:<br>
            „Rób, co kochasz – kochaj to, co robisz”!</blockquote>
        </div>
        <div class="academy_photo col-12 col-md-9">
          <img class="image_frame" src="@/assets/img/uniwersytet.jpg"
            alt="">
          <p>Absolwentka psychologii klinicznej Uniwersytetu Opolskiego.</p>
        </div>
      </div>
      <div class="experience row">
        <div class="experience_text_wrapper col-12">
          <h3 class="experience_headline">
            Terapeutka Racjonalnej Terapii Zachowania
          </h3>
          <p class="experience_paragraph">
            Terapia umożliwiająca skuteczną interwencję terapeutyczną poprzez zmianę i usprawnienie przekonań, jakie
            wykorzystuje dana osoba.
          </p>
        </div>
      </div>
      <div class="experience row">
        <div class="experience_text_wrapper col-12">
          <h3 class="experience_headline">
            Terapeutka I i II stopnia terapii Eye Movement Desensitization and Reprocessing (EMDR)
          </h3>
          <p class="experience_paragraph">
            Terapia (odwrażliwiająca) za pomocą ruchu gałek ocznych; ustrukturalizowana; łączącą w sobie elementy
            wielu podejść psychoterapeutycznych - jednak tym, co ją wyróżnia i odróżnia od innych podejść
            terapeutycznych - jest jej aspekt neurofizjologiczny. Twórcą terapii EMDR jest Francine Shapiro, która
            odkryła, że szybkie i powtarzające się ruchy oczami wpływają na obniżenie się poziomu lęku doświadczanego
            przez osoby, które wcześniej przeżyły tragiczne i traumatyczne wydarzenia tj. gwałt, przemoc domowa,
            wypadek komunikacyjny, śmierć bliskiej osoby, molestowanie seksualne bolesne rozstanie, rozwód, stany
            lękowe i depresyjne.
          </p>
        </div>
      </div>
      <div class="experience row">
        <div class="experience_text_wrapper col-12">
          <h3 class="experience_headline">
            W swojej karierze zawodowej, jako psycholog i terapeuta pracowała m.in.:
          </h3>
          <p class="experience_paragraph">
            - w strukturach Służby Więziennej/ Okręgowego Inspektoratu Służby Więziennej w Opolu oceniając stan
            psychiczny funkcjonariusza SW - orzekając o jego przydatności do dalszej służby; udzielając wsparcia i
            pomocy psychologicznej po zdarzeniach trudnych/traumatycznych; propagując profilaktykę prozdrowotną.
          </p>
          <p class="experience_paragraph">
            - w Punkcie Konsultacji psychologicznej „Xsaverianum” w charakterze czynnego poradnictwa m.in. z zakresu
            predyspozycji zawodowych; interwencji w sytuacjach kryzysowych/trudnych; profilaktyki i promocji zdrowia
            psychicznego, a także indywidualnych porad psychologicznych oraz warsztatów i wykładów tematycznych.
          </p>
          <p class="experience_paragraph">
            - współpraca w charakterze trenera i szkoleniowca z ogólnopolskimi firmami szkoleniowymi m.in.
            „Galicyjskim Centrum Edukacji” z Krakowa oraz „Center Consulting” z Olsztyna.
          </p>
          <p class="experience_paragraph">
            - współpraca z działami HR opolskich Agencji Pracy.
          </p>
        </div>
      </div>
      <div class="dyploms row">
        <div v-for="dyplom in dyploms" :key="dyplom.src" class="dyplom col-12 col-sm-6 col-md-3">
          <img @click="openModal(dyplom)" :src="dyplom.src" :alt="dyplom.alt" class="dyploms_img">
        </div>
      </div>
      <Modal v-on:close-modal="closeModal" v-if="isModalOpen" :src="modalSrc" :alt="modalAlt" />
    </section>
  </BasePageWrapper>
</template>

<script>
import Modal from '@/components/Modal.vue'
import BasePageWrapper from '@/components/BasePageWrapper.vue'

export default {
  name: 'About',
  components: {
    Modal,
    BasePageWrapper
  },
  data () {
    return {
      isModalOpen: false,
      modalSrc: false,
      modalAlt: false,
      dyploms: [
        {
          src: '/static/img/promocja-zdrowia.jpg',
          alt: 'promocja zdrowia'
        },
        {
          src: '/static/img/doradca-personalny.jpg',
          alt: 'doradca personalny'
        },
        {
          src: '/static/img/dyplom-rtz.jpg',
          alt: 'dyplom rtz'
        },
        {
          src: '/static/img/psychospoleczne-zagrozenia.jpg',
          alt: 'psychospoleczne zagrozenia'
        }
      ]
    }
  },
  methods: {
    openModal (dyplom) {
      this.isModalOpen = true
      this.modalSrc = dyplom.src
      this.modalAlt = dyplom.alt
    },
    closeModal () {
      this.isModalOpen = false
    }
  }
}
</script>
