<template>
  <BasePageWrapper>
    <section class="contact container">
      <h2>Kontakt</h2>
      <div class="row">
        <div class="col-12 col-md-8 contact_map">
          <GoogleMap/>
        </div>
        <ul class="col-12 col-md-4 contact_details">
          <li>gabinet@polski-psycholog.eu</li>
          <li>polski.psycholog</li>
          <li>+49 015750820281</li>
          <li>46446 Emmerich am Rhein<br>Aldegundisheim Hottomannsdeich 2</li>
        </ul>
      </div>
    </section>
  </BasePageWrapper>
</template>

<script>
import GoogleMap from '@/components/GoogleMap.vue'
import BasePageWrapper from '@/components/BasePageWrapper.vue'

export default {
  name: 'Contact',
  components: {
    GoogleMap,
    BasePageWrapper
  }
}

</script>
