<template>
  <div class="home">
    <Navigation/>
    <Welcome style="margin-left: 200px;margin-top: 200px;"/>
  </div>
</template>

<script>
import Welcome from '@/components/Welcome.vue'
import Navigation from '@/components/Navigation.vue'

export default {
  name: 'Contact',
  components: {
    Welcome,
    Navigation
  }
}

</script>
