<template>
  <BasePageWrapper>
    <section class="offer container">
      <h2>Oferta</h2>
      <div class="text_image row">
        <div class="text_image_headline_wrapper col-12 col-md-7">
          <h3 class="text_image_headline">Punkt konsultacji psychologicznej</h3>
        </div>
        <div class="text_image_paragraph_wrapper col-12 col-md-5">
          <p class="text_image_paragraph">Przeznaczony dla wszystkich tych, którzy borykają się z problemami życia
            wewnętrznego. Podczas konsultacji dochodzi do wstępnej diagnozy oraz ustala się formy dalszej pomocy, w
            niektórych przypadkach konsultacja psychologiczna kończy się informacją o przekierowaniu osoby do innego
            specjalisty z zakresu zdrowia psychicznego.</p>
          <a class="text_image_link" href="">Czytaj dalej</a>
        </div>
      </div>
      <div class="text_image row">
        <div class="text_image_paragraph_wrapper col-12 col-md-5">
          <p class="text_image_paragraph">W przypadku pojedynczych i złożonych traum powstałych w wyniku reakcji na
            ostry stres: PTSD, śmierci bliskiej osoby, gwałtu, molestowania seksualnego, napaści, przemocy domowej,
            fobii, lęku panicznego, zaburzeń obsesyjno – kompulsywnych, depresji.</p>
          <a class="text_image_link" href="">Czytaj dalej</a>
        </div>
        <div class="text_image_headline_wrapper col-12 col-md-7">
          <h3 class="text_image_headline">Psychoterapia indywidualna EMDR</h3>
        </div>
      </div>
      <div class="text_image row">
        <div class="text_image_headline_wrapper col-12 col-md-7">
          <h3 class="text_image_headline">Pomoc, wsparcie i interwencja psychologiczna</h3>
        </div>
        <div class="text_image_paragraph_wrapper col-12 col-md-5">
          <p class="text_image_paragraph">Polega na kontakcie terapeutycznym, skoncentrowanym na problemie
            wywołującym kryzys w celu zredukowania symptomów i przywrócenie równowagi psychicznej. Interwencja
            kryzysowa polega na zapewnieniu wsparcia emocjonalnego, poczucia bezpieczeństwa oraz zredukowaniu lęku.</p>
          <a class="text_image_link" href="">Czytaj dalej</a>
        </div>
      </div>
      <div class="text_image row">
        <div class="text_image_paragraph_wrapper col-12 col-md-5">
          <p class="text_image_paragraph">Badania testami psychologicznym, diagnoza osobowości, zasobów poznawczych i
            intelektualnych.</p>
          <a class="text_image_link" href="">Czytaj dalej</a>
        </div>
        <div class="text_image_headline_wrapper col-12 col-md-7">
          <h3 class="text_image_headline">Diagnoza psychologiczna</h3>
        </div>
      </div>
      <div class="text_image row">
        <div class="text_image_headline_wrapper col-12 col-md-7">
          <h3 class="text_image_headline">Treningi umiejętności psychospołecznych</h3>
        </div>
        <div class="text_image_paragraph_wrapper col-12 col-md-5">
          <p class="text_image_paragraph">Treningi grupowe mające na celu udoskonalenie starych oraz poznanie nowych
            metod walki ze stresem, a także nabycie umiejętności i wiedzy z zakresu komunikacji interpersonalnej,
            asertywności, rozwijania samoświadomości oraz twórczego rozwiązywania problemów.</p>
          <a class="text_image_link" href="">Czytaj dalej</a>
        </div>
      </div>
      <div class="text_image row">
        <div class="text_image_paragraph_wrapper col-12 col-md-5">
          <p class="text_image_paragraph">Wsparcie firm pod względem Zarządzania Zasobami Ludzkimi – selekcja
            rekrutacja pracowników, oceny okresowe, szkolenia, strategie rozwoju firmy.</p>
          <a class="text_image_link" href="">Czytaj dalej</a>
        </div>
        <div class="text_image_headline_wrapper col-12 col-md-7">
          <h3 class="text_image_headline">HR i doradztwo personalne</h3>
        </div>
      </div>
    </section>
  </BasePageWrapper>
</template>

<script>
import BasePageWrapper from '@/components/BasePageWrapper.vue'
export default {
  name: 'offer',
  components: {
    BasePageWrapper
  }
}
</script>
