<template>
  <BasePageWrapper>
    <section class="prizes">
      <h2>Cennik</h2>
      <table class="table">
        <tbody class="container">
          <tr class="row">
            <th class="col-3">Usluga</th>
            <th class="col-5">Opis</th>
            <th class="col-2">Czas</th>
            <th class="col-2">Cena jednostkowa</th>
          </tr>
          <TableRow :prize="prize" v-for="prize in prizes" :key="prize.offer"/>
        </tbody>
      </table>
    </section>
  </BasePageWrapper>
</template>

<script>

import TableRow from '@/components/TableRow.vue'
import BasePageWrapper from '@/components/BasePageWrapper.vue'

export default {
  name: 'Prizes',
  components: {
    TableRow,
    BasePageWrapper
  },
  data () {
    return {
      prizes: [
        {
          offer: 'Konsultacja telefoniczna',
          description: '',
          time: '10-20 min',
          prize: 'bezpłatna'
        },
        {
          offer: 'E - Konsultacja Skype*',
          description: '',
          time: '60 min',
          prize: '60 euro'
        },
        {
          offer: 'E - Konsultacja mailowa*',
          description: '',
          time: '',
          prize: '40 euro'
        },
        {
          offer: 'Konsultacja/pomoc psychologiczna w gabinecie',
          description: '',
          time: '60 min',
          prize: '60 euro'
        },
        {
          offer: 'Psychoterapia indywidualna',
          description: '',
          time: '60 min',
          prize: '60 euro'
        },
        {
          offer: 'Psychoterapia EMDR',
          description: '',
          time: '90 min',
          prize: '80 euro'
        },
        {
          offer: 'Terapia rodzin/par',
          description: '',
          time: '90 min',
          prize: '90 euro'
        },
        {
          offer: 'Diagnoza psychologiczna',
          description: '',
          time: '',
          prize: 'Od 80-150 euro'
        },
        {
          offer: 'Szkolenia grupowe',
          description: '',
          time: '',
          prize: 'Ceny uzależnione od grupy szkoleniowej'
        },
        {
          offer: 'HR doradztwo personalne',
          description: '',
          time: '',
          prize: 'Ceny uzależnione od zakresu usługi'
        }
      ]
    }
  }
}
</script>
