main
header
    margin-top: $navHeight
    background: purple
    padding: 60px 0
    border: 1px solid green
    // h1

section
    margin: 40px 0
    h2
        text-align: center
        margin-bottom: 30px

.text_image.row, .academy.row
    margin-bottom: 60px

#map
    height: 400px

.contact_details
    display: flex
    flex-direction: column
    justify-content: space-around