nav
    position: fixed
    width: 100%
    background: rgba(255,255,255,0.85)
    z-index: 1
    border-bottom: 1px solid $gray
    .navigation_wrapper
        display: flex
        justify-content: flex-end
        ul
            display: flex
            li
                a
                    display: flex
                    align-items: center
                    height: $navHeight
                    padding: 0 20px
                    &:hover
                        background-color: $gray