<template>
  <div class="page-wrapper">
    <Navigation/>
    <Header/>
    <slot></slot>
    <Footer/>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',
  components: {
    Navigation,
    Header,
    Footer
  }
}
</script>
