<template>
  <footer class="footer" role="contentinfo">
    <div class="container">
      <ul class="row">
        <li class="col-12 col-sm-6 col-lg-3 footer_column">
          <h3>Przydatne Linki</h3>
          <ul>
            <li>EMDR</li>
            <li>BDP</li>
            <li>Psychologia</li>
            <li>Polityka Prywatności</li>
          </ul>
        </li>
        <li class="col-12 col-sm-6 col-lg-3 footer_column">
          <h3>Kontakt</h3>
          <ul>
            <li>gabinet@polski-psycholog.eu</li>
            <li>+49 015750820281</li>
            <li>polski.psycholog</li>
          </ul>
        </li>
        <li class="col-12 col-sm-6 col-lg-3 footer_column">
          <h3>Adres</h3>
          <p>Aldegundisheim Hottomannsdeich 2<br>46446 Emmerich am Rhein</p>
        </li>
        <li class="col-12 col-sm-6 col-lg-3 footer_column">
          <h3>Prawa</h3>
          <p>Copyright © {{ new Date().getFullYear() }} Wszelkie prawa zastrzeżone.</p>
        </li>
      </ul>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
