<template>
  <div>
    <gmap-map
      :center="center"
      :zoom="17"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: 'GoogleMap',
  data: () => {
    return {
      center: { lat: 51.83027, lng: 6.2435513 },
      markers: [{position: { lat: 51.83027, lng: 6.2435513 }}]
    }
  }
}
</script>
