<template>
  <header role="banner">
    <div class="container">
      <h1>Gabinet<br>Psychologiczny</h1>
      <span>mgr Katarzyna Tołstych</span>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>
