<template>
  <div class="modal">
    <div class="modal_image_wrapper">
      <div @click="closeModal" class="x_icon">
        <span></span>
        <span></span>
      </div>
      <img v-bind="$attrs">
    </div>
  </div>
</template>

<script>

export default {
  name: 'Modal',
  inheritAttrs: false,
  methods: {
    closeModal () {
      this.$emit('close-modal')
    }
  }
}

</script>

<style lang="sass" scoped>
  .modal
    position: fixed
    z-index: 2
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .9)
    .close
      position: absolute
      top: -10px
      left: calc(100% + 10px)
      transform: translate(-50%, -50%)
      z-index: 3
    &_image_wrapper
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      min-width: 280px
      max-width: 450px
      width: 100%
  .x_icon
    position: absolute
    // right: -50px
    right: 10px
    top: -50px
    span
      width: 40px
      height: 5px
      background-color: #ddd
      display: block
      margin: 8px auto
      &:nth-child(1)
        transform: translateY(13px) rotate(45deg)
      &:nth-child(2)
        transform: rotate(-45deg)
  @media (min-width:1025px)
    .modal_image_wrapper
      max-width: 620px
</style>
