<template>
    <nav role="navigation">
      <div class="container navigation_wrapper">
        <!-- <ul>
          <li>
            <a href="#">
              mgr Katarzyna Tołstych
            </a>
          </li>
        </ul> -->
        <ul class="navigation">
          <router-link to="/">DEVELOPMENT HOME</router-link>
          <li class="about">
            <router-link to="/o-mnie">O mnie</router-link>
          </li>
          <li class="offer">
            <router-link to="/oferta">Oferta</router-link>
          </li>
          <li class="prizes">
            <router-link to="/cennik">Cennik</router-link>
          </li>
          <li class="contact">
            <router-link to="/kontakt">Kontakt</router-link>
          </li>
        </ul>
      </div>
    </nav>
</template>

<script>

export default {
  name: 'Navigation'
}

</script>
