<template>
  <tr :class="{active: isActive}" class="row toggleable">
    <td @click="toggleActiveClass" class="col-12 col-md-3 toggleable_table_header">{{prize.offer}}</td>
    <td class="col-12 col-md-5 toggleable_table_content">Lorem ipsum description</td>
    <td class="col-6 col-md-2 toggleable_table_content">{{prize.time}}</td>
    <td class="col-6 col-md-2 toggleable_table_content">{{prize.prize}}</td>
  </tr>
</template>

<script>
export default {
  name: 'TableRow',
  props: {
    prize: {
      offer: '',
      description: '',
      time: '',
      prize: ''
    }
  },
  methods: {
    toggleActiveClass () {
      this.isActive = !this.isActive
    }
  },
  data () {
    return {
      isActive: false
    }
  }
}
</script>
