.academy
    justify-content: center
    blockquote
        top: 60px
    &_photo
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        p
            text-align: center
            font-size: 20px
            padding: 20px 0
            width: 80%
            background: rgba(0,0,0, 0.7)
            color: #fff
            position: absolute
            bottom: 40px
    &_author
        display: flex
        flex-direction: column
        align-items: center
        &_image
            // height: 200px
            // width: 200px
            margin-bottom: 20px
        blockquote
            text-align: center