.table
    display: flex
    justify-content: center
    tbody
        width: 100%
        max-width: $smallTablet
    td, th
        display: flex
        align-items: center
    th
        display: none
        justify-content: center
    @include mobile-only
        td, th
            height: 40px
        .toggleable
            border: $border
        td:first-child
            font-weight: bold
    @include medium-up
        tbody
            border: $border
        th
            display: flex
        td, th
            padding: 15px
            &:not(:last-child)
                border-right: $border
        .toggleable
            border-top: $border