.text_image
    border: $border
    &_headline
        text-align: center
        padding: 20px 60px
        &_wrapper
            background: blue
    &_paragraph
        &_wrapper
            display: flex
            flex-direction: column
            align-items: center
            padding: 20px
            @include mobile-only
                order: 1
    &_link
        margin-top: 20px
        padding: 10px
        border: $border