@include mobile-only
    .toggleable
        margin-bottom: 20px
        &_table_header
            padding-right: 40px !important
            position: relative
            cursor: pointer
            &:after
                content: "+"
                position: absolute
                font-size: 2em
                transform: translateY(-50%)
                top: 50%
                right: 20px
        &_table_content
            transition: max-height 500ms, opacity 300ms
            max-height: 0px
            opacity: 0
            // disable bootstrap
            min-height: unset
        &.active
            .toggleable_table_header
                background: #bbb
                &::after
                    content: "-"
            .toggleable_table_content
                opacity: 1
                max-height: 100px
