@import "defaults/button"
@import "defaults/image"
@import "defaults/loading-indicator"
@import "defaults/video"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  align-items: stretch

ul
  list-style: none

a
  text-decoration: none
  &:visited, &:focus, &:hover
    text-decoration: none

button, input
  outline: none
