$minMobile: 480px
$smallTablet: 768px
$largeTablet: 992px
$minDesktop: 1200px
$largeDesktop: 1920px

@mixin mobile-only
  @media only screen and (max-width: $smallTablet - 1px)
    @content
@mixin tablet-only
  @media only screen and (min-width: $smallTablet) and (max-width: $largeTablet - 1px)
    @content
@mixin medium-only
  @media only screen and (min-width: $largeTablet) and (max-width: $largeDesktop - 1px)
    @content
@mixin large-only
  @media only screen and (min-width: $minDesktop)
    @content

@mixin mobile-up
  @media only screen and (min-width: $minMobile)
    @content
@mixin tablet-up
  @media only screen and (min-width: $smallTablet)
    @content
@mixin medium-up
  @media only screen and (min-width: $smallTablet)
    @content
@mixin large-tablet-up
  @media only screen and (min-width: $largeTablet)
    @content
@mixin large-up
  @media only screen and (min-width: $minDesktop)
    @content
@mixin large-dekstop-up
  @media only screen and (min-width: $largeDesktop)
    @content

.hidden-mobile, .hidden-xs
  @include mobile-only
    display: none !important
.hidden-tablet, .hidden-sm
  @include tablet-only
    display: none !important
.hidden-medium, .hidden-md
  @include medium-only
    display: none !important
.hidden-large, .hidden-lg
  @include large-only
    display: none !important

.hidden-mobile-up
  @include mobile-up
    display: none !important
.hidden-tablet-up
  @include tablet-up
    display: none !important  
.hidden-medium-up
  @include medium-up
    display: none !important
.hidden-large-up
  @include large-up
    display: none !important
